.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-dialog {
  max-width: 50%;
  width: 40%;
  height: auto;
  max-height: 30vh;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-header .btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #000;
}

.modal-body img {
  max-width: 30%; 
  height: auto;   
  display: block; 
  margin: 0 auto; 
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.cursor {
  cursor: pointer;
}

.search-bar input {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
}

.search-bar button {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

// Media queries

@media (max-width: 768px) { 
  .modal-dialog {
    max-width: 80%;
    width: 90%;
    height: auto;
    max-height: 50vh;
    margin: auto;
  }

  .modal-content {
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
  }

  .modal-body img {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    max-width: 90%;
    width: 95%;
    height: auto;
    max-height: 50vh;
  }

  .modal-content {
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
  }

  .modal-title {
    font-size: 1rem;
  }

  .modal-body img {
    max-width: 40%;
  }

  .modal-body p {
    font-size: 0.9rem;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .modal-dialog {
    max-width: 60%;
    height: auto;
    max-height: 30vh;
    margin: auto;
  }

  .modal-content {
    padding: 15px;
    max-height: 100%;
    overflow-y: auto;
  }

  .modal-body img {
    max-width: 30%;
  }

  .modal-title {
    font-size: 1.1rem;
  }

  .modal-body p {
    font-size: 0.95rem;
  }

  .cursor {
    height: '500px'
  }
}


